.about-page {
    font-family: 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.75;
    margin: 0;
    padding: 0;
    background-color: #282828;
}

div.container-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: auto;
    justify-self: center;
    text-align: center;
    padding: 20px;
    gap: 1.5rem;
}

.container-main h2 {
    margin: 0;
    font-size: 3.5rem;
    color: #000;
    color: #c8c8c8;
}

.p-about {
    font-size: 1.5rem;
    color: #c8c8c8;
    margin: 0;
    width: 85%;
}

p.paragraph {
    font-size: 1.6rem;
    color: #e0e0e0;
    margin-bottom: 1.5rem;
}

p.notice {
    font-weight: bold;
    font-size: 1.6rem;
    margin-bottom: 2rem;
    color: rgb(255, 136, 0);
}