.about-page {
    font-family: 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.75;
    margin: 0;
    padding: 0;
    background-color: #282828;
}

.h1-about {
    font-size: 4.5rem;
    color: #c8c8c8;
    margin-bottom: 1rem;
}

div.container-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 1250px;
    margin: 0 auto;
    padding: 20px;
    gap: 3.5rem;
}

.container-main h2 {
    margin: 0;
    font-size: 3.5rem;
    color: #000;
    color: #c8c8c8;
}

.p-about {
    font-size: 1.5rem;
    color: #c8c8c8;
    margin: 0;
    gap: 2.5rem;
}

p {
    color: #e0e0e0;
    margin-bottom: 1rem;
    font-size: 1rem;
}

p.paragraph {
    font-size: 1.6rem;
    color: #e0e0e0;
    margin-bottom: 0;
}

p.notice {
    font-style: bold;
    font-size: 1.6rem;
    color: rgb(255, 136, 0);
}