.container {
    margin: 1rem auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

nav {
    background-color: #000000;
    color: white;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 3rem;
}

nav ul li {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

li.homeanchor a,
li.treeanchor a, 
li.aboutanchor a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.2s;
    vertical-align: middle;
    display: inline-block;
    line-height: 1;
}

nav a:hover {
    background-color: #555;
    
}

nav ul li.account {
    position: relative;
}

nav ul li.account:hover ul.dropdown,
nav ul li.account:focus-within ul.dropdown {
    display: flex;
}

h1 {
    text-align: center;
    font-size: 4em;
    color: #3f0;
    font-size: 4em;
    margin: 1rem;
}

h1 a {
    text-decoration: none;
}

.h1-a:hover, .h1-a:focus, .h1-a:active {
    background-color: #000;
    color: #3f0;
    text-decoration: none;
    border: #ffa500 solid 5px;
    padding: 1rem;
    border-radius: 1.5rem;
}
